<a href="https://colab.research.google.com/github/lis-r-barreto/Data-Engineering/blob/main/07_Practice_Optimizing_DataFrames_and_Processing_in_Chunks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataquest Guided Project: Optimizing Dataframes and Processing in Chunks

We'll be working with financial lending data from Lending Club, a marketplace for personal loans that matches borrowers with investors.

In this project, it is assumed that  that we only have 10 megabytes of memory available throughout this project, so you can practice the concepts of process large CSV as chunk and reduce memeory usage of chunks by analysis the data in chunk and set data types of columns accordingly.

The official Dataquest reference solution is in GitHub repo [here](https://github.com/dataquestio/solutions/blob/master/Mission165Solutions.ipynb).

My solution is slighthly different from the 'reference' solution.  As I try to keep the column data type (and thier size) the same across all the chunks and categorize category column using distinct values across all chunks instead of only distinct value in a chunk.

In [ ]:
import pandas as pd
import numpy as np

import pprint as pp

pd.options.display.max_columns = 99

## Explore the first 5 rows  ... there is date columns

Date columns is found, these columns should read as datetiem at later stage

In [ ]:
loan=pd.read_csv('loans_2007.csv',nrows=5)

loan

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

## Assume memory is limited ... control the chunk size
It is assume only 10M of memroy is available, so we need to control the memory of each chunk below 5M.  It turn out chunksize of 3000 is within our memory limit.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)

for loanChunk in loanChunkIter:
    print(loanChunk.memory_usage(deep=True).sum()/(1024*1024))

4.649013519287109
4.6447601318359375
4.646517753601074
4.647870063781738
4.6440629959106445
4.6459455490112305
4.644536972045898
4.646905899047852
4.645031929016113
4.645082473754883
4.657794952392578
4.6566619873046875
4.663469314575195
4.896910667419434
0.8808088302612305

## Explore the no. of numeric and string (object) columns
The initial steps is to check no. of numeric and string (object) columns in the dataset

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)


loanChunkNumTxtColCounts=pd.DataFrame(columns=['Num Counts','Text Counts'])
for loanChunk in loanChunkIter:
    
    numColCount=len(loanChunk.select_dtypes(include='number').columns)
    txtColCount=len(loanChunk.select_dtypes(include='object').columns)
    loanChunkNumTxtColCounts.loc[len(loanChunkNumTxtColCounts)]=[numColCount,txtColCount]

In [ ]:
loanChunkNumTxtColCounts

   Num Counts Text Counts
0          31          21
1          31          21
2          31          21
3          31          21
4          31          21
5          31          21
6          31          21
7          31          21
8          31          21
9          31          21
10         31          21
11         31          21
12         31          21
13         30          22
14         30          22

## Why number of numeric and text colum is not the same across all chunks ?

From the above data exploration/analysis, it is found the number of numeric column and object column is not the same for the last 2 chunks is different from all other chunks, need to find out which column caused the problem.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)


loanChunkTypes=pd.DataFrame(columns=loan.columns)
loanChunkUniqueValues=pd.DataFrame(columns=loan.columns)
for loanChunk in loanChunkIter:
    loanChunkTypes.loc[len(loanChunkTypes)]=loanChunk.dtypes

In [ ]:
loanChunkTypes

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
1,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
2,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
3,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
4,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
5,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
6,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
7,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
8,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
9,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
10,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
11,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
12,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
13,object,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
14,object,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64

## What's wrong with the Id column ?

From the above data exploration/analysis, it is found the Id column in last 2 chunk is not number (int64), need further explore the reason.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)

for chunkNum,loanChunk in enumerate(loanChunkIter):
    if loanChunk['id'].dtypes=='object':
        print('Chunk {} has problem for this row=>'.format(chunkNum))
        strIDRow=loanChunk[loanChunk['id'].str.isdigit()==False].index
        print(loanChunk.loc[list(strIDRow)])
    else:
        print('Chunk {} no problem'.format(chunkNum))

Chunk 0 no problem
Chunk 1 no problem
Chunk 2 no problem
Chunk 3 no problem
Chunk 4 no problem
Chunk 5 no problem
Chunk 6 no problem
Chunk 7 no problem
Chunk 8 no problem
Chunk 9 no problem
Chunk 10 no problem
Chunk 11 no problem
Chunk 12 no problem
Chunk 13 has problem for this row=>
                                             id  member_id  loan_amnt  \
39786  Loans that do not meet the credit policy        NaN        NaN

       funded_amnt  funded_amnt_inv term int_rate  installment grade  \
39786          NaN              NaN  NaN      NaN          NaN   NaN

      sub_grade emp_title emp_length home_ownership  annual_inc  \
39786       NaN       NaN        NaN            NaN         NaN

      verification_status issue_d loan_status pymnt_plan purpose title  \
39786                 NaN     NaN         NaN        NaN     NaN   NaN

      zip_code addr_state  dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
39786      NaN        NaN  NaN          NaN              NaN             NaN

       open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  \
39786       NaN      NaN        NaN        NaN        NaN                 NaN

       out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  \
39786        NaN            NaN          NaN              NaN

       total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
39786              NaN            NaN                 NaN         NaN

       collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
39786                      NaN          NaN              NaN

      last_credit_pull_d  collections_12_mths_ex_med  policy_code  \
39786                NaN                         NaN          NaN

      application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  \
39786              NaN             NaN                       NaN          NaN

       pub_rec_bankruptcies  tax_liens
39786                   NaN        NaN
Chunk 14 has problem for this row=>
                                                    id  member_id  loan_amnt  \
42536  Total amount funded in policy code 1: 471701350        NaN        NaN
42537          Total amount funded in policy code 2: 0        NaN        NaN

       funded_amnt  funded_amnt_inv term int_rate  installment grade  \
42536          NaN              NaN  NaN      NaN          NaN   NaN
42537          NaN              NaN  NaN      NaN          NaN   NaN

      sub_grade emp_title emp_length home_ownership  annual_inc  \
42536       NaN       NaN        NaN            NaN         NaN
42537       NaN       NaN        NaN            NaN         NaN

      verification_status issue_d loan_status pymnt_plan purpose title  \
42536                 NaN     NaN         NaN        NaN     NaN   NaN
42537                 NaN     NaN         NaN        NaN     NaN   NaN

      zip_code addr_state  dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
42536      NaN        NaN  NaN          NaN              NaN             NaN
42537      NaN        NaN  NaN          NaN              NaN             NaN

       open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  \
42536       NaN      NaN        NaN        NaN        NaN                 NaN
42537       NaN      NaN        NaN        NaN        NaN                 NaN

       out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  \
42536        NaN            NaN          NaN              NaN
42537        NaN            NaN          NaN              NaN

       total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
42536              NaN            NaN                 NaN         NaN
42537              NaN            NaN                 NaN         NaN

       collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
42536                      NaN          NaN              NaN
42537                      NaN          NaN              NaN

      last_credit_pull_d  collections_12_mths_ex_med  policy_code  \
42536                NaN                         NaN          NaN
42537                NaN                         NaN          NaN

      application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  \
42536              NaN             NaN                       NaN          NaN
42537              NaN             NaN                       NaN          NaN

       pub_rec_bankruptcies  tax_liens
42536                   NaN        NaN
42537                   NaN        NaN

## 3 Rows are not containing loan information

From the above analysis
-  1 row in Chunk 13 is subheader, all other columns are NaN
-  2 rows in Chunk 14 are subtotals, which are not individual loan record

These rows needed to be removed.  Add A small function to remove "non-loan" rows in Chunk

In [ ]:
def removeProblematicRow(loanChunk):
    if loanChunk['id'].dtypes=='object':
        strIDRow=loanChunk[loanChunk['id'].str.isdigit()==False].index
        loanChunk.drop(list(strIDRow),axis=0,inplace=True)
        loanChunk['id']=loanChunk['id'].astype('int64')
    return loanChunk

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)

loanChunkNumTxtColCounts=pd.DataFrame(columns=['Num Counts','Text Counts'])
loanChunkTypes=pd.DataFrame(columns=loan.columns)
for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    
    numColCount=len(loanChunk.select_dtypes(include='number').columns)
    txtColCount=len(loanChunk.select_dtypes(include='object').columns)
    loanChunkNumTxtColCounts.loc[len(loanChunkNumTxtColCounts)]=[numColCount,txtColCount]
    
    loanChunkTypes.loc[len(loanChunkTypes)]=loanChunk.dtypes

In [ ]:
loanChunkNumTxtColCounts

   Num Counts Text Counts
0          31          21
1          31          21
2          31          21
3          31          21
4          31          21
5          31          21
6          31          21
7          31          21
8          31          21
9          31          21
10         31          21
11         31          21
12         31          21
13         31          21
14         31          21

In [ ]:
loanChunkTypes

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
1,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
2,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
3,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
4,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
5,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
6,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
7,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
8,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
9,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
10,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
11,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
12,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
13,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64
14,int64,float64,float64,float64,float64,object,object,float64,object,object,object,object,object,float64,object,object,object,object,object,object,object,object,float64,float64,object,float64,float64,float64,float64,object,float64,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,float64,object,float64,float64,object,float64,float64,float64,float64,float64

## No More Inconsistencce Across Chunks After "non-loan" rows removal
From the above, it can show that is no more inconsistence of column data types across all churnks after problematic rows are removed from concenred churnks

## Any missing values ?

The below code count the number of missing value for each columns for each chunk and then sum up missing value count for all chunks.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)


loanChunkMissings=pd.DataFrame(columns=loan.columns)
for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    
    loanChunkMissing=[loanChunk[col].isnull().sum() for col in loanChunk.columns]
    loanChunkMissings.loc[len(loanChunkMissings)]=loanChunkMissing

loanChunkMissing=loanChunkMissings.sum(axis=0)

loanChunkMissing

id                               0.0
member_id                        0.0
loan_amnt                        0.0
funded_amnt                      0.0
funded_amnt_inv                  0.0
term                             0.0
int_rate                         0.0
installment                      0.0
grade                            0.0
sub_grade                        0.0
emp_title                     2626.0
emp_length                    1112.0
home_ownership                   0.0
annual_inc                       4.0
verification_status              0.0
issue_d                          0.0
loan_status                      0.0
pymnt_plan                       0.0
purpose                          0.0
title                           13.0
zip_code                         0.0
addr_state                       0.0
dti                              0.0
delinq_2yrs                     29.0
earliest_cr_line                29.0
inq_last_6mths                  29.0
open_acc                        29.0
pub_rec                         29.0
revol_bal                        0.0
revol_util                      90.0
total_acc                       29.0
initial_list_status              0.0
out_prncp                        0.0
out_prncp_inv                    0.0
total_pymnt                      0.0
total_pymnt_inv                  0.0
total_rec_prncp                  0.0
total_rec_int                    0.0
total_rec_late_fee               0.0
recoveries                       0.0
collection_recovery_fee          0.0
last_pymnt_d                    83.0
last_pymnt_amnt                  0.0
last_credit_pull_d               4.0
collections_12_mths_ex_med     145.0
policy_code                      0.0
application_type                 0.0
acc_now_delinq                  29.0
chargeoff_within_12_mths       145.0
delinq_amnt                     29.0
pub_rec_bankruptcies          1365.0
tax_liens                      105.0
dtype: float64

## Which float columns has no missing value and could be candidates for conversion to the integer type?

Since we have checked data types for the same column in all chunk are the same afer "non-loan" rows are removed, the below code use the the column data type of last chunk from the previous step and missing value count to filter out float columns have no missing values.

In [ ]:
colToInteger=loanChunk.columns[(loanChunk.dtypes=='float64') & (loanChunkMissing==0)]

print(colToInteger)

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'installment', 'dti', 'revol_bal', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'policy_code'],
      dtype='object')

## Check candidate of Integer columns are only integer value

Check across all chunk to see candidate integer columns only contain integer value across all chunk, if not remove the column from the candidate list.  The integer column list is saved for later use.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)

colIsFloat=set()
for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    
    for col in loanChunk.columns:
        if col in colToInteger:
            allRowsInteger=all([x.is_integer() for x in loanChunk[col]])
            if allRowsInteger==False:
                colIsFloat.add(col)

colToInteger=[x for x in colToInteger if x not in colIsFloat]
colToInteger

['member_id', 'loan_amnt', 'funded_amnt', 'revol_bal', 'policy_code']

## Which string columns contain values that are less than 50% unique?

To answer the above we first create a list of dict to hold unique values of string (object) columns.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000)

uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]
totalNumberOfRows=0
for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    totalNumberOfRows+=loanChunk.shape[0]

    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

## But wait ... not all string columns are strings ...
Explore the dict and found 7th and 30th column (int_rate, revol_util column) are holding percentage value, which should be of float type instead of string.  These column should be clean up first.

In [ ]:
pp.pprint(uniqueDicts[6])
pp.pprint(uniqueDicts[29])

{'col': 'int_rate',
 'non-numeric': True,
 'values': {'  5.42%': 573,
            '  5.79%': 410,
            '  5.99%': 347,
            '  6.00%': 19,
            '  6.03%': 447,
            '  6.17%': 252,
            '  6.39%': 58,
            '  6.54%': 307,
            '  6.62%': 396,
            '  6.76%': 168,
            '  6.91%': 310,
            '  6.92%': 204,
            '  6.99%': 336,
            '  7.05%': 23,
            '  7.12%': 9,
            '  7.14%': 342,
            '  7.29%': 397,
            '  7.37%': 32,
            '  7.40%': 72,
            '  7.42%': 7,
            '  7.43%': 33,
            '  7.49%': 656,
            '  7.51%': 787,
            '  7.66%': 292,
            '  7.68%': 94,
            '  7.74%': 154,
            '  7.75%': 27,
            '  7.88%': 742,
            '  7.90%': 582,
            '  7.91%': 14,
            '  8.00%': 198,
            '  8.07%': 26,
            '  8.32%': 49,
            '  8.38%': 26,
            '  8.49%': 445,
            '  8.59%': 187,
            '  8.63%': 44,
            '  8.70%': 17,
            '  8.88%': 168,
            '  8.90%': 402,
            '  8.94%': 299,
            '  9.01%': 17,
            '  9.07%': 15,
            '  9.20%': 15,
            '  9.25%': 141,
            '  9.32%': 187,
            '  9.33%': 24,
            '  9.38%': 23,
            '  9.45%': 47,
            '  9.51%': 10,
            '  9.62%': 195,
            '  9.63%': 384,
            '  9.64%': 29,
            '  9.67%': 7,
            '  9.70%': 9,
            '  9.76%': 77,
            '  9.83%': 11,
            '  9.88%': 186,
            '  9.91%': 377,
            '  9.96%': 30,
            '  9.99%': 607,
            ' 10.00%': 251,
            ' 10.01%': 8,
            ' 10.08%': 55,
            ' 10.14%': 11,
            ' 10.20%': 18,
            ' 10.25%': 228,
            ' 10.28%': 32,
            ' 10.33%': 9,
            ' 10.36%': 256,
            ' 10.37%': 470,
            ' 10.38%': 227,
            ' 10.39%': 57,
            ' 10.46%': 12,
            ' 10.51%': 22,
            ' 10.59%': 400,
            ' 10.62%': 241,
            ' 10.64%': 5,
            ' 10.65%': 435,
            ' 10.71%': 58,
            ' 10.74%': 312,
            ' 10.75%': 260,
            ' 10.78%': 23,
            ' 10.83%': 31,
            ' 10.91%': 31,
            ' 10.95%': 82,
            ' 10.96%': 15,
            ' 10.99%': 970,
            ' 11.03%': 64,
            ' 11.09%': 8,
            ' 11.11%': 332,
            ' 11.12%': 272,
            ' 11.14%': 215,
            ' 11.22%': 33,
            ' 11.26%': 95,
            ' 11.28%': 19,
            ' 11.34%': 56,
            ' 11.36%': 258,
            ' 11.41%': 17,
            ' 11.46%': 27,
            ' 11.48%': 193,
            ' 11.49%': 837,
            ' 11.54%': 21,
            ' 11.58%': 107,
            ' 11.59%': 12,
            ' 11.63%': 8,
            ' 11.66%': 50,
            ' 11.71%': 609,
            ' 11.72%': 12,
            ' 11.78%': 28,
            ' 11.83%': 243,
            ' 11.86%': 418,
            ' 11.89%': 165,
            ' 11.91%': 16,
            ' 11.97%': 51,
            ' 11.99%': 535,
            ' 12.04%': 11,
            ' 12.09%': 20,
            ' 12.12%': 5,
            ' 12.17%': 17,
            ' 12.18%': 216,
            ' 12.21%': 183,
            ' 12.22%': 16,
            ' 12.23%': 143,
            ' 12.29%': 53,
            ' 12.36%': 11,
            ' 12.41%': 22,
            ' 12.42%': 443,
            ' 12.49%': 22,
            ' 12.53%': 356,
            ' 12.54%': 9,
            ' 12.61%': 224,
            ' 12.62%': 3,
            ' 12.67%': 5,
            ' 12.68%': 251,
            ' 12.69%': 492,
            ' 12.72%': 18,
            ' 12.73%': 205,
            ' 12.80%': 25,
            ' 12.84%': 152,
            ' 12.86%': 11,
            ' 12.87%': 206,
            ' 12.92%': 44,
            ' 12.98%': 121,
            ' 12.99%': 456,
            ' 13.04%': 23,
            ' 13.06%': 220,
            ' 13.11%': 203,
            ' 13.12%': 23,
            ' 13.16%': 143,
            ' 13.17%': 11,
            ' 13.22%': 159,
            ' 13.23%': 277,
            ' 13.24%': 56,
            ' 13.30%': 17,
            ' 13.35%': 136,
            ' 13.36%': 12,
            ' 13.43%': 157,
            ' 13.47%': 146,
            ' 13.48%': 175,
            ' 13.49%': 832,
            ' 13.55%': 50,
            ' 13.57%': 153,
            ' 13.61%': 313,
            ' 13.62%': 9,
            ' 13.67%': 20,
            ' 13.72%': 125,
            ' 13.75%': 24,
            ' 13.79%': 125,
            ' 13.80%': 138,
            ' 13.84%': 2,
            ' 13.85%': 152,
            ' 13.87%': 40,
            ' 13.92%': 142,
            ' 13.93%': 10,
            ' 13.98%': 312,
            ' 13.99%': 257,
            ' 14.07%': 18,
            ' 14.09%': 73,
            ' 14.11%': 113,
            ' 14.12%': 10,
            ' 14.17%': 122,
            ' 14.18%': 39,
            ' 14.22%': 132,
            ' 14.25%': 10,
            ' 14.26%': 138,
            ' 14.27%': 391,
            ' 14.30%': 8,
            ' 14.35%': 138,
            ' 14.38%': 35,
            ' 14.42%': 106,
            ' 14.43%': 4,
            ' 14.46%': 118,
            ' 14.50%': 41,
            ' 14.54%': 75,
            ' 14.57%': 3,
            ' 14.59%': 132,
            ' 14.61%': 114,
            ' 14.62%': 4,
            ' 14.65%': 222,
            ' 14.67%': 3,
            ' 14.70%': 13,
            ' 14.72%': 125,
            ' 14.74%': 84,
            ' 14.75%': 9,
            ' 14.79%': 194,
            ' 14.82%': 43,
            ' 14.83%': 105,
            ' 14.84%': 131,
            ' 14.88%': 7,
            ' 14.91%': 172,
            ' 14.93%': 8,
            ' 14.96%': 249,
            ' 15.01%': 17,
            ' 15.05%': 76,
            ' 15.07%': 9,
            ' 15.13%': 22,
            ' 15.20%': 86,
            ' 15.21%': 220,
            ' 15.23%': 216,
            ' 15.25%': 7,
            ' 15.27%': 200,
            ' 15.28%': 147,
            ' 15.31%': 113,
            ' 15.33%': 135,
            ' 15.37%': 52,
            ' 15.38%': 6,
            ' 15.45%': 24,
            ' 15.51%': 5,
            ' 15.57%': 92,
            ' 15.58%': 201,
            ' 15.62%': 171,
            ' 15.65%': 232,
            ' 15.68%': 50,
            ' 15.70%': 99,
            ' 15.76%': 16,
            ' 15.83%': 7,
            ' 15.88%': 6,
            ' 15.95%': 240,
            ' 15.96%': 193,
            ' 15.99%': 287,
            ' 16.00%': 127,
            ' 16.01%': 6,
            ' 16.02%': 150,
            ' 16.07%': 76,
            ' 16.08%': 15,
            ' 16.11%': 7,
            ' 16.15%': 5,
            ' 16.20%': 1,
            ' 16.28%': 10,
            ' 16.29%': 142,
            ' 16.32%': 233,
            ' 16.33%': 2,
            ' 16.35%': 49,
            ' 16.40%': 154,
            ' 16.45%': 193,
            ' 16.46%': 3,
            ' 16.49%': 245,
            ' 16.59%': 9,
            ' 16.63%': 23,
            ' 16.65%': 4,
            ' 16.69%': 65,
            ' 16.70%': 43,
            ' 16.71%': 7,
            ' 16.77%': 329,
            ' 16.82%': 162,
            ' 16.83%': 1,
            ' 16.89%': 213,
            ' 16.91%': 5,
            ' 16.95%': 24,
            ' 16.96%': 4,
            ' 17.03%': 8,
            ' 17.04%': 32,
            ' 17.06%': 36,
            ' 17.09%': 2,
            ' 17.14%': 108,
            ' 17.15%': 4,
            ' 17.19%': 131,
            ' 17.22%': 8,
            ' 17.26%': 17,
            ' 17.27%': 204,
            ' 17.28%': 2,
            ' 17.34%': 13,
            ' 17.39%': 22,
            ' 17.41%': 1,
            ' 17.43%': 32,
            ' 17.44%': 1,
            ' 17.46%': 1,
            ' 17.49%': 190,
            ' 17.51%': 65,
            ' 17.54%': 11,
            ' 17.56%': 125,
            ' 17.58%': 191,
            ' 17.59%': 2,
            ' 17.66%': 8,
            ' 17.72%': 1,
            ' 17.74%': 25,
            ' 17.78%': 1,
            ' 17.80%': 26,
            ' 17.86%': 9,
            ' 17.88%': 66,
            ' 17.90%': 6,
            ' 17.91%': 2,
            ' 17.93%': 96,
            ' 17.97%': 6,
            ' 17.99%': 150,
            ' 18.04%': 6,
            ' 18.07%': 9,
            ' 18.09%': 11,
            ' 18.17%': 30,
            ' 18.21%': 9,
            ' 18.25%': 233,
            ' 18.29%': 13,
            ' 18.30%': 68,
            ' 18.36%': 5,
            ' 18.39%': 155,
            ' 18.43%': 21,
            ' 18.49%': 3,
            ' 18.53%': 7,
            ' 18.54%': 24,
            ' 18.61%': 16,
            ' 18.62%': 49,
            ' 18.64%': 143,
            ' 18.67%': 51,
            ' 18.72%': 1,
            ' 18.78%': 7,
            ' 18.79%': 106,
            ' 18.84%': 6,
            ' 18.86%': 3,
            ' 18.91%': 12,
            ' 18.99%': 30,
            ' 19.03%': 126,
            ' 19.04%': 43,
            ' 19.13%': 17,
            ' 19.16%': 5,
            ' 19.29%': 120,
            ' 19.36%': 34,
            ' 19.39%': 4,
            ' 19.41%': 32,
            ' 19.42%': 118,
            ' 19.47%': 15,
            ' 19.66%': 11,
            ' 19.69%': 108,
            ' 19.74%': 30,
            ' 19.79%': 25,
            ' 19.82%': 8,
            ' 19.91%': 91,
            ' 20.03%': 13,
            ' 20.11%': 33,
            ' 20.16%': 20,
            ' 20.17%': 6,
            ' 20.20%': 2,
            ' 20.25%': 77,
            ' 20.30%': 89,
            ' 20.40%': 4,
            ' 20.48%': 22,
            ' 20.52%': 4,
            ' 20.53%': 20,
            ' 20.62%': 59,
            ' 20.69%': 3,
            ' 20.77%': 12,
            ' 20.85%': 16,
            ' 20.86%': 6,
            ' 20.89%': 72,
            ' 20.90%': 18,
            ' 20.99%': 55,
            ' 21.14%': 7,
            ' 21.21%': 7,
            ' 21.22%': 7,
            ' 21.27%': 16,
            ' 21.28%': 43,
            ' 21.36%': 45,
            ' 21.48%': 1,
            ' 21.59%': 8,
            ' 21.64%': 12,
            ' 21.67%': 42,
            ' 21.74%': 31,
            ' 21.82%': 2,
            ' 22.06%': 37,
            ' 22.11%': 31,
            ' 22.35%': 25,
            ' 22.48%': 16,
            ' 22.64%': 1,
            ' 22.74%': 20,
            ' 22.85%': 8,
            ' 22.94%': 2,
            ' 23.13%': 9,
            ' 23.22%': 9,
            ' 23.52%': 9,
            ' 23.59%': 4,
            ' 23.91%': 11,
            ' 24.11%': 3,
            ' 24.40%': 1,
            ' 24.59%': 1}}
{'col': 'revol_util',
 'non-numeric': True,
 'values': {nan: 90,
            '0%': 1070,
            '0.01%': 1,
            '0.03%': 1,
            '0.04%': 1,
            '0.05%': 1,
            '0.1%': 61,
            '0.12%': 1,
            '0.16%': 1,
            '0.2%': 64,
            '0.3%': 43,
            '0.4%': 45,
            '0.46%': 1,
            '0.49%': 1,
            '0.5%': 49,
            '0.54%': 1,
            '0.6%': 39,
            '0.7%': 47,
            '0.75%': 1,
            '0.8%': 43,
            '0.83%': 1,
            '0.86%': 1,
            '0.9%': 41,
            '1%': 51,
            '1.1%': 39,
            '1.2%': 37,
            '1.3%': 36,
            '1.4%': 32,
            '1.5%': 33,
            '1.6%': 24,
            '1.7%': 30,
            '1.8%': 40,
            '1.88%': 1,
            '1.9%': 31,
            '10%': 38,
            '10.08%': 1,
            '10.1%': 36,
            '10.17%': 1,
            '10.2%': 30,
            '10.3%': 33,
            '10.4%': 33,
            '10.5%': 34,
            '10.6%': 20,
            '10.61%': 1,
            '10.7%': 27,
            '10.8%': 31,
            '10.9%': 36,
            '100%': 2,
            '100.5%': 1,
            '100.6%': 1,
            '100.7%': 2,
            '101.4%': 3,
            '101.5%': 1,
            '101.8%': 2,
            '102.7%': 1,
            '102.8%': 1,
            '103.1%': 1,
            '103.2%': 1,
            '103.5%': 1,
            '103.9%': 1,
            '104.2%': 1,
            '104.3%': 1,
            '105.2%': 1,
            '105.3%': 1,
            '105.7%': 1,
            '106.1%': 1,
            '106.2%': 1,
            '106.4%': 1,
            '106.5%': 1,
            '108.8%': 1,
            '11%': 38,
            '11.1%': 29,
            '11.2%': 31,
            '11.3%': 38,
            '11.4%': 35,
            '11.5%': 33,
            '11.6%': 38,
            '11.62%': 1,
            '11.63%': 1,
            '11.7%': 31,
            '11.8%': 44,
            '11.9%': 29,
            '119%': 1,
            '12%': 38,
            '12.1%': 44,
            '12.2%': 32,
            '12.3%': 28,
            '12.4%': 42,
            '12.42%': 1,
            '12.5%': 31,
            '12.6%': 36,
            '12.7%': 32,
            '12.8%': 46,
            '12.9%': 36,
            '13%': 32,
            '13.1%': 36,
            '13.2%': 30,
            '13.3%': 29,
            '13.4%': 35,
            '13.5%': 26,
            '13.56%': 1,
            '13.6%': 24,
            '13.7%': 36,
            '13.8%': 34,
            '13.9%': 35,
            '14%': 33,
            '14.1%': 39,
            '14.2%': 45,
            '14.3%': 42,
            '14.4%': 40,
            '14.5%': 27,
            '14.6%': 35,
            '14.7%': 37,
            '14.8%': 43,
            '14.9%': 45,
            '15%': 32,
            '15.1%': 42,
            '15.2%': 32,
            '15.3%': 37,
            '15.4%': 30,
            '15.5%': 41,
            '15.6%': 46,
            '15.7%': 31,
            '15.8%': 40,
            '15.9%': 35,
            '16%': 35,
            '16.02%': 1,
            '16.1%': 29,
            '16.2%': 32,
            '16.3%': 32,
            '16.4%': 31,
            '16.5%': 47,
            '16.6%': 32,
            '16.7%': 42,
            '16.8%': 33,
            '16.9%': 26,
            '17%': 31,
            '17.1%': 44,
            '17.2%': 41,
            '17.3%': 36,
            '17.4%': 34,
            '17.5%': 42,
            '17.6%': 38,
            '17.67%': 1,
            '17.7%': 37,
            '17.71%': 1,
            '17.78%': 1,
            '17.8%': 34,
            '17.9%': 43,
            '18%': 30,
            '18.1%': 34,
            '18.2%': 47,
            '18.3%': 34,
            '18.4%': 43,
            '18.5%': 33,
            '18.6%': 38,
            '18.7%': 39,
            '18.8%': 37,
            '18.82%': 1,
            '18.9%': 31,
            '19%': 44,
            '19.1%': 27,
            '19.2%': 36,
            '19.3%': 38,
            '19.4%': 44,
            '19.5%': 35,
            '19.6%': 32,
            '19.7%': 30,
            '19.8%': 51,
            '19.9%': 28,
            '2%': 35,
            '2.1%': 32,
            '2.2%': 35,
            '2.3%': 40,
            '2.4%': 40,
            '2.5%': 30,
            '2.6%': 31,
            '2.64%': 1,
            '2.7%': 32,
            '2.8%': 33,
            '2.9%': 32,
            '20%': 45,
            '20.1%': 25,
            '20.2%': 36,
            '20.3%': 41,
            '20.4%': 31,
            '20.5%': 35,
            '20.6%': 37,
            '20.7%': 27,
            '20.8%': 36,
            '20.9%': 29,
            '21%': 46,
            '21.1%': 43,
            '21.2%': 47,
            '21.3%': 38,
            '21.4%': 40,
            '21.5%': 52,
            '21.59%': 1,
            '21.6%': 38,
            '21.7%': 31,
            '21.72%': 1,
            '21.8%': 35,
            '21.9%': 34,
            '21.92%': 1,
            '22%': 45,
            '22.1%': 48,
            '22.2%': 39,
            '22.3%': 44,
            '22.4%': 32,
            '22.5%': 36,
            '22.6%': 39,
            '22.7%': 35,
            '22.8%': 36,
            '22.9%': 40,
            '23%': 54,
            '23.1%': 43,
            '23.11%': 1,
            '23.2%': 43,
            '23.3%': 31,
            '23.4%': 34,
            '23.5%': 46,
            '23.6%': 28,
            '23.7%': 52,
            '23.8%': 51,
            '23.9%': 40,
            '24%': 44,
            '24.1%': 41,
            '24.2%': 44,
            '24.3%': 48,
            '24.4%': 42,
            '24.5%': 35,
            '24.6%': 41,
            '24.63%': 1,
            '24.65%': 1,
            '24.66%': 1,
            '24.7%': 48,
            '24.8%': 34,
            '24.89%': 1,
            '24.9%': 43,
            '25%': 46,
            '25.1%': 28,
            '25.2%': 39,
            '25.3%': 47,
            '25.33%': 1,
            '25.4%': 31,
            '25.5%': 58,
            '25.6%': 37,
            '25.7%': 44,
            '25.74%': 1,
            '25.8%': 40,
            '25.9%': 31,
            '26%': 49,
            '26.1%': 34,
            '26.2%': 37,
            '26.3%': 32,
            '26.32%': 1,
            '26.33%': 1,
            '26.4%': 42,
            '26.5%': 41,
            '26.6%': 47,
            '26.7%': 51,
            '26.8%': 41,
            '26.9%': 42,
            '27%': 40,
            '27.1%': 42,
            '27.2%': 54,
            '27.3%': 46,
            '27.4%': 47,
            '27.5%': 37,
            '27.6%': 44,
            '27.7%': 54,
            '27.8%': 40,
            '27.81%': 1,
            '27.9%': 38,
            '28%': 37,
            '28.1%': 35,
            '28.2%': 40,
            '28.3%': 38,
            '28.4%': 47,
            '28.41%': 1,
            '28.5%': 32,
            '28.6%': 32,
            '28.7%': 30,
            '28.8%': 47,
            '28.9%': 46,
            '29%': 35,
            '29.1%': 54,
            '29.2%': 45,
            '29.3%': 46,
            '29.4%': 41,
            '29.5%': 26,
            '29.53%': 1,
            '29.6%': 42,
            '29.7%': 35,
            '29.77%': 1,
            '29.8%': 45,
            '29.9%': 43,
            '3%': 27,
            '3.1%': 37,
            '3.18%': 1,
            '3.2%': 39,
            '3.3%': 44,
            '3.4%': 27,
            '3.5%': 33,
            '3.6%': 35,
            '3.7%': 35,
            '3.8%': 31,
            '3.9%': 24,
            '30%': 35,
            '30.1%': 50,
            '30.19%': 1,
            '30.2%': 37,
            '30.3%': 40,
            '30.4%': 33,
            '30.5%': 49,
            '30.6%': 43,
            '30.7%': 51,
            '30.8%': 46,
            '30.9%': 56,
            '31%': 37,
            '31.1%': 49,
            '31.2%': 59,
            '31.3%': 39,
            '31.4%': 40,
            '31.5%': 28,
            '31.6%': 42,
            '31.7%': 39,
            '31.8%': 31,
            '31.9%': 43,
            '32%': 55,
            '32.04%': 1,
            '32.1%': 38,
            '32.2%': 43,
            '32.3%': 42,
            '32.4%': 50,
            '32.5%': 35,
            '32.6%': 45,
            '32.7%': 39,
            '32.71%': 1,
            '32.8%': 39,
            '32.9%': 41,
            '33%': 36,
            '33.1%': 44,
            '33.14%': 1,
            '33.2%': 50,
            '33.26%': 1,
            '33.29%': 1,
            '33.3%': 54,
            '33.39%': 1,
            '33.4%': 43,
            '33.5%': 45,
            '33.6%': 35,
            '33.7%': 54,
            '33.8%': 51,
            '33.9%': 48,
            '34%': 43,
            '34.1%': 42,
            '34.2%': 47,
            '34.3%': 41,
            '34.4%': 57,
            '34.5%': 48,
            '34.6%': 32,
            '34.7%': 42,
            '34.8%': 44,
            '34.89%': 1,
            '34.9%': 41,
            '35%': 49,
            '35.1%': 41,
            '35.2%': 47,
            '35.3%': 59,
            '35.4%': 40,
            '35.5%': 47,
            '35.6%': 32,

## How about the term columns, change to integer ?
The term column only has two distinct values '36 months' and '60 months'.  Prefer to treat it as categorical rather than numeric.

In [ ]:
pp.pprint(uniqueDicts[5])

{'col': 'term',
 'non-numeric': True,
 'values': {' 36 months': 31534, ' 60 months': 11001}}

## Recall date columns is identified from the first 5 rows
They should be read as date instead of string and not categorical. Put the column name in a list and pass the list to parse_date parmeter of read_csv

In [ ]:
dateCols=['issue_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']

## Let's clean the int_rate column and look for string columns contain values that are less than 50% unique again

Add a small function to replace % char in int_rate column and set the column type to float, then build the list of unique values dict again

In [ ]:
def cleanRateCol(loanChunk):
    loanChunk['int_rate']=loanChunk['int_rate'].str.replace('%','')
    loanChunk['int_rate']=loanChunk['int_rate'].astype('float')
    loanChunk['revol_util']=loanChunk['revol_util'].str.replace('%','')
    loanChunk['revol_util']=loanChunk['revol_util'].astype('float')


    
    return loanChunk

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1
    

isCatCols=[False for x in uniqueDicts]

for idx,uniqueDict in enumerate(uniqueDicts):
    if uniqueDict['non-numeric']==True:
        noOfUniqueValues=len(uniqueDict['values'].keys())
        if noOfUniqueValues/totalNumberOfRows<0.5:
            isCatCols[idx]=True        

catCols=[y  for x,y in zip(isCatCols,loanChunk.columns) if x==True]
catCols

['term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'initial_list_status',
 'application_type']

## Column purpose, title are categorical ?  Probablly not  ...

For the initial exploration of the first 5 rows of the loan data set, puropse and titile look likie descriptive text columns.Descrpitive text columns are not common candidiates of 'categorical' as they are free text columns.  These two columns need further explore why unique values are taking up below 50%.

Print out the unique values of purpose column and value of title column that occur more than 10 times.  It is found that title has repetitive text of same meaning of different form (e.g 'wedding','wedding loan','Wedding Fund') and the purpose column already summarize the repetitive meaning of title.  So, the title column can be dropped and keep the purpose column as categorical columns.

In [ ]:
uniqueDicts[18]

{'col': 'purpose',
 'non-numeric': True,
 'values': {'car': 1615,
  'credit_card': 5477,
  'debt_consolidation': 19776,
  'educational': 422,
  'home_improvement': 3199,
  'house': 426,
  'major_purchase': 2311,
  'medical': 753,
  'moving': 629,
  'other': 4425,
  'renewable_energy': 106,
  'small_business': 1992,
  'vacation': 400,
  'wedding': 1004}}

In [ ]:
print(uniqueDicts[19]['col'])
for value in uniqueDicts[19]['values'].items():
    if value[1]>10:
        print(value)

title
(nan, 13)
('Dept Consolidation', 13)
('car', 30)
('HOME IMPROVEMENT', 15)
('My loan', 34)
('Business Expansion', 13)
('Freedom Loan', 21)
('Other Loan', 192)
('pool loan', 13)
('Pay off', 17)
('Medical Bills', 11)
('Boat Loan', 25)
('Consolidate', 141)
('Home Repairs', 11)
('CC Refinance', 27)
('Consolidating Credit Card Debt', 14)
('Pay off credit card', 11)
('Debit Consolidation', 20)
('moving', 15)
('Purchase', 12)
('Lending Club Loan', 33)
('Bill Consolidation', 48)
('loan1', 11)
('Debt loan', 13)
('Motorcycle loan', 16)
('truck', 11)
('Consolidate Bills', 12)
('Loan Consolidation', 37)
('consolidate debt', 25)
('debt_consolidation', 68)
('Consolidate Credit Cards', 16)
('business', 16)
('medical expenses', 12)
('Fresh Start', 19)
('Engagement Ring', 60)
('Debt Relief', 17)
('Credit Card Pay Off', 21)
('Pay off credit cards', 30)
('Pool loan', 12)
('Personal', 330)
('get out of debt', 21)
('Home Improvement Loan', 255)
('CONSOLIDATION', 14)
('Pay Off Credit Cards', 20)
('motorcycle', 35)
('Card Consolidation', 14)
('Moving Expenses', 22)
('Help', 14)
('home', 24)
('Consolidating Debt', 19)
('personal ', 11)
('consolidation loan', 45)
('medical', 28)
('Loan 1', 49)
('Debt Consolidation ', 67)
('Debt Loan', 64)
('boat', 18)
('credit_card', 14)
('credit card payoff', 25)
('Debt Consolidate', 20)
('refinance', 15)
('swimming pool', 12)
('Consolidate Debt', 64)
('Personal Loan ', 16)
('Credit Card Refinance Loan', 20)
('Car Loan', 206)
('credit card pay off', 11)
('Consolidation ', 19)
('My Personal Loan', 19)
('Credit Card loan', 13)
('Debt Consolidation 2011', 17)
('Pay Off', 22)
('Motorcycle Loan', 46)
('Student Loan', 27)
('Moving', 54)
('Major Purchase', 66)
('LOAN', 17)
('Home Improvements', 48)
('auto', 14)
('Consolidated', 11)
('PERSONAL LOAN', 21)
('Financial Freedom', 15)
('Car Repair', 18)
('Loan', 218)
('Bike', 12)
('Pool Loan', 42)
('lending club loan', 11)
('my loan', 53)
('auto loan', 15)
('Medical Loan', 64)
('debt consolidation', 532)
('Payoff', 46)
('Boat', 15)
('House', 18)
('credit', 13)
('credit card debt', 13)
('My Loan', 96)
('Loan 2', 13)
('Major purchase', 11)
('Bills', 29)
('Credit Card Refinancing', 32)
('Debt Consolidation', 2259)
('home improvement', 117)
('Debt Freedom', 11)
('debt consolidation ', 20)
('Loan consolidation', 15)
('Consolidate credit card debt', 13)
('Debt consolidation', 347)
('Wedding ', 11)
('Relocation Loan', 14)
('Consolidation loan', 41)
('Credit Cards', 95)
('House Loan', 41)
('Credit cards', 20)
('Debt consolidation loan', 48)
('Credit Card Debt Consolidation', 63)
('bill consolidation', 20)
('debt', 56)
('Debt Consolidation Loan', 1760)
('Paying off credit cards', 17)
('Home improvement', 66)
('Wedding Fund', 11)
('Credit Card', 124)
('Business', 33)
('New Start', 14)
('credit card refinance', 28)
('CC Debt', 12)
('credit cards', 40)
('pool', 20)
('New Roof', 11)
('CC Consolidation', 54)
('Payoff Credit Cards', 13)
('loan 1', 19)
('vacation loan', 15)
('Credit Card consolidation', 20)
('Consolidate Credit Card Debt', 27)
('Education', 16)
('Credit card consolidation', 45)
('Home Improvement', 373)
('debt free', 26)
('Small_Business Loan', 14)
('Lending Club', 29)
('Freedom', 81)
('Debt Consolodation', 27)
('Credit Card Refi', 37)
('car loan', 29)
('Auto', 20)
('Pool', 41)
('major purchase', 26)
('Loan1', 24)
('Debt consolidation ', 14)
('consolidate', 80)
('Home improvement loan', 12)
('Home_Improvement Loan', 11)
('Credit Card Consolidation Loan', 52)
('freedom', 48)
('Credit card loan', 12)
('Debt consolidation loan ', 15)
('wedding loan', 27)
('Credit Card Loan', 323)
('Refinancing', 13)
('Home', 38)
('Pay off Debt', 15)
('Credit Card Consolidation', 370)
('Credit Card Refinance', 147)
('Vacation Loan', 38)
('Debt Consol', 11)
('CC', 14)
('loan', 90)
('Get out of debt', 23)
('Personal ', 14)
('Debt', 89)
('Wedding', 160)
('Medical Expenses', 23)
('LendingClub Loan', 12)
('Motorcycle', 66)
('credit card', 36)
('credit card loan', 18)
('Credit card payoff', 21)
('Wedding Expenses', 52)
('Truck Loan', 11)
('Auto Loan', 42)
('Wedding Loan', 217)
('Car loan', 31)
('credit card consolidation', 58)
('Ring', 18)
('Roof', 19)
('Car', 32)
('consolidation', 217)
('Debt Payoff', 37)
('Consolidate debt', 40)
('motorcycle loan', 12)
('pay off', 20)
('Medical', 124)
('other', 13)
('business loan', 19)
('Credit Refinance', 11)
('Debt ', 13)
('Truck', 13)
('Vacation', 54)
('Debt Free', 47)
('Credit Card payoff', 12)
('Consolidation', 547)
('credit card refinance loan', 11)
('Investment', 11)
('Credit Consolidation', 51)
('Pay off debt', 18)
('Credit card refinance', 24)
('home improvement loan', 16)
('Moving Loan', 78)
('Credit Card Payoff Loan', 18)
('Debt Consolidation loan ', 22)
('Swimming Pool', 23)
('DEBT CONSOLIDATION', 59)
('Personal Loan', 708)
('Small Business', 48)
('Debt Consolidation loan', 24)
('vacation', 34)
('2010', 11)
('Working Capital', 15)
('Small Business loan', 24)
('Debt Reduction', 18)
('Major Purchase Loan', 146)
('pay off credit cards', 26)
('Surgery', 11)
('Credit Card Debt', 54)
('CC Loan', 23)
('personal', 247)
('Business Loan', 88)
('moving loan', 17)
('home improvements', 20)
('Kitchen Remodel', 18)
('PERSONAL', 14)
('personal loan', 266)
('Pay off Credit Cards', 21)
('CC Payoff', 37)
('payoff', 49)
('Consolidation Loan', 264)
('CC Refi', 19)
('Personal loan', 80)
('help', 13)
('Business loan', 12)
('Small Business Loan', 333)
('debt relief', 14)
('Refinance', 48)
('debt consolidation loan', 59)
('Credit Card Payoff', 164)
('Home Loan', 24)
('Taxes', 20)
('wedding', 38)
('credit consolidation', 15)
('Other', 59)
('Debt payoff', 14)
('debt loan', 31)
('bills', 27)

## Rebulid the list of categorical columns and unique values dict of categorical columns again

So we write a small function to drop the titile column , rebulid the list of categorical columns and unique values dict of categorical columns agaian after dropping the title column

In [ ]:
def dropTitleCol(loanChunk):
    loanChunk.drop(columns=['title'],axis=1,inplace=True)
    
    return loanChunk

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

isCatCols=[False for x in uniqueDicts]

for idx,uniqueDict in enumerate(uniqueDicts):
    if uniqueDict['non-numeric']==True:
        noOfUniqueValues=len(uniqueDict['values'].keys())
        if noOfUniqueValues/totalNumberOfRows<0.5:
            isCatCols[idx]=True        

catCols=[y  for x,y in zip(isCatCols,loanChunk.columns) if x==True]
catCols

['term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'pymnt_plan',
 'purpose',
 'zip_code',
 'addr_state',
 'initial_list_status',
 'application_type']

## For each identified category column, build a unique value list across all chunk

Write a small function to create a CategoricalDtype for each column, holding the unique values across all chunks of that column.

In [ ]:
from pandas.api.types import CategoricalDtype

def categorizeLoanChunk(loanChunk):
    for idx,col in enumerate(loanChunk.columns):
        if col in catCols:
            catValues=[value for value in uniqueDicts[idx]['values'].keys() if str(value)!='nan']
            cat_type = CategoricalDtype(categories=catValues)            
            loanChunk[col]=loanChunk[col].astype(cat_type)
    
    return loanChunk

## A two pass startegy to categorized all category column
We want to use the same categoryization scheme for each cateogry column across all chunks.  To achieve this goal, a two pass startegy is emplyeed to categorize all category column across all chunks.

- First build the category column list and unqiue values dict across all chunks
- Then use the unique values dict to create a CategoryDtype for each category column to categorize the column.

To verify the result, list the datatypes of each chunks and sample check a category column of the last loanChunk.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

loanChunkTypes=pd.DataFrame(columns=loanChunk.columns)

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    loanChunk=categorizeLoanChunk(loanChunk)

    loanChunkTypes.loc[len(loanChunkTypes)]=loanChunk.dtypes
    
loanChunkTypes

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
1,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
2,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
3,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
4,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
5,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
6,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
7,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
8,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
9,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
10,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
11,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
12,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
13,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64
14,int64,float64,float64,float64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,float64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,float64,category,float64,float64,float64,float64,float64

In [ ]:
print('No of distinct addr_state values in last chunk => {}'.format(len(loanChunk['addr_state'].cat.codes.unique())))

print('No of category value used to categorized addr_state => {}'.format(len(loanChunk['addr_state'].cat.categories)))

No of distinct addr_state values in last chunk => 42
No of category value used to categorized addr_state => 50

## Process integer columns
After the categorical column is processed, it is time to process numeric columns.  Recall that we have already identified columns that can be converted to integer column and saved the integer column list in colToInteger.

A small function is created to covert the concerned column from float to integer.  The datatype of all columns across all chunks are then listed again to verify result.

In [ ]:
colToInteger

['member_id', 'loan_amnt', 'funded_amnt', 'revol_bal', 'policy_code']

In [ ]:
def convertColToInteger(loanChunk,colToInteger):
    for col in loanChunk.columns:
        if col in colToInteger:
            loanChunk[col]=loanChunk[col].astype('int64')
    return loanChunk

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

loanChunkTypes=pd.DataFrame(columns=loanChunk.columns)

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    loanChunk=categorizeLoanChunk(loanChunk)
    loanChunk=convertColToInteger(loanChunk,colToInteger)
   
    loanChunkTypes.loc[len(loanChunkTypes)]=loanChunk.dtypes

loanChunkTypes

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
1,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
2,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
3,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
4,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
5,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
6,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
7,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
8,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
9,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
10,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
11,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
12,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
13,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64
14,int64,int64,int64,int64,float64,category,float64,float64,category,category,object,category,category,float64,category,datetime64[ns],category,category,category,category,category,float64,float64,datetime64[ns],float64,float64,float64,int64,float64,float64,category,float64,float64,float64,float64,float64,float64,float64,float64,float64,datetime64[ns],float64,datetime64[ns],float64,int64,category,float64,float64,float64,float64,float64

## Further reduce chunk size by using the apporpirate number of bits for integer or float type

64 bit is the default size used to represent integer and float in DataFrame.  The chunk size can be further reduce if we know the min and max value of numeric columns across all chunks and use the proper number of bits to represent integer and float value.

To determine the min and max of numeric value across all chunks, all chunks are read again to determine the min/max value and the result are stored in a dictionary as tuple.

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

loanChunkTypes=pd.DataFrame(columns=loanChunk.columns)


numColMinMaxDict={}
for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    loanChunk=categorizeLoanChunk(loanChunk)
    loanChunk=convertColToInteger(loanChunk,colToInteger)
   
    for numCol in loanChunk.select_dtypes(include='number'):
        if numCol not in numColMinMaxDict.keys():
            numColMinMaxDict[numCol]=(loanChunk[numCol].min(),loanChunk[numCol].max())
        else:
            colMin=loanChunk[numCol].min()
            colMax=loanChunk[numCol].max()
            if colMin<numColMinMaxDict[numCol][0]:
                numColMinMaxDict[numCol]=(colMin,numColMinMaxDict[numCol][1])
            if colMax>numColMinMaxDict[numCol][1]:
                numColMinMaxDict[numCol]=(numColMinMaxDict[numCol][0],colMax)

In [ ]:
numColMinMaxDict

{'acc_now_delinq': (0.0, 1.0),
 'annual_inc': (1896.0, 6000000.0),
 'chargeoff_within_12_mths': (0.0, 0.0),
 'collection_recovery_fee': (0.0, 7002.19),
 'collections_12_mths_ex_med': (0.0, 0.0),
 'delinq_2yrs': (0.0, 13.0),
 'delinq_amnt': (0.0, 6053.0),
 'dti': (0.0, 29.99),
 'funded_amnt': (500, 35000),
 'funded_amnt_inv': (0.0, 35000.0),
 'id': (54734, 1077501),
 'inq_last_6mths': (0.0, 33.0),
 'installment': (15.67, 1305.19),
 'int_rate': (5.42, 24.59),
 'last_pymnt_amnt': (0.0, 36115.2),
 'loan_amnt': (500, 35000),
 'member_id': (70473, 1314167),
 'open_acc': (1.0, 47.0),
 'out_prncp': (0.0, 5794.29),
 'out_prncp_inv': (0.0, 5794.29),
 'policy_code': (1, 1),
 'pub_rec': (0.0, 5.0),
 'pub_rec_bankruptcies': (0.0, 2.0),
 'recoveries': (0.0, 29623.35),
 'revol_bal': (0, 1207359),
 'revol_util': (0.0, 119.0),
 'tax_liens': (0.0, 1.0),
 'total_acc': (1.0, 90.0),
 'total_pymnt': (0.0, 58563.6799293133),
 'total_pymnt_inv': (0.0, 58563.68),
 'total_rec_int': (0.0, 23611.1),
 'total_rec_late_fee': (0.0, 209.000000006491),
 'total_rec_prncp': (0.0, 35000.02)}

## The min/max dict shows there is no -ve value ...

The min/max dictionary shows that there is no -ve value in all numeric columns.  So unsigned integer can be used for integer values, and there is no need to check for -ve minimun value in determine the no. of bits to store numeric values.

Two procdure are created to size the integer (unsigned) columns and float columns using the np.iinfo() and np.finfo() to check the min and max value that can be represented with different numner of bits.  There two functions are then called to converted numeric columns using the apporpriate no. of bits that could hold the min/max of different numeric columns.

The final size of each chunk is then displayed and the data type of each column for all chunks are also displayed for verification.

In [ ]:
def sizeIntCol(loanChunk):
    for col in loanChunk.select_dtypes('integer'):
        if numColMinMaxDict[col][1]<np.iinfo(np.uint8).max:
            loanChunk[col]=loanChunk[col].astype('uint8')
        elif numColMinMaxDict[col][1]<np.iinfo(np.uint16).max:     
            loanChunk[col]=loanChunk[col].astype('uint16')
        elif numColMinMaxDict[col][1]<np.iinfo(np.uint32).max:     
            loanChunk[col]=loanChunk[col].astype('uint32')
        elif numColMinMaxDict[col][1]<np.iinfo(np.uint64).max:     
            loanChunk[col]=loanChunk[col].astype('uint64')
    
    return loanChunk

In [ ]:
def sizeFloatCol(loanChunk):
    for col in loanChunk.select_dtypes('float'):
        if numColMinMaxDict[col][1]<np.finfo(np.float16).max:     
            loanChunk[col]=loanChunk[col].astype('float16')
        elif numColMinMaxDict[col][1]<np.finfo(np.float32).max:     
            loanChunk[col]=loanChunk[col].astype('float32')
        elif numColMinMaxDict[col][1]<np.finfo(np.float64).max:     
            loanChunk[col]=loanChunk[col].astype('float64')
    
    return loanChunk

In [ ]:
loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

totalNumberOfRows=0
uniqueDicts=[{'col': col, 'non-numeric':False,'values':{}} for col in loan.columns]

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    
    totalNumberOfRows+=loanChunk.shape[0]
    
    for idx,col in enumerate(loanChunk):
        if loanChunk[col].dtypes=='object':
            uniqueDicts[idx]['non-numeric']=True
            for cell in loanChunk[col]:
                if cell in uniqueDicts[idx]['values']:
                    uniqueDicts[idx]['values'][cell]+=1
                else:
                    uniqueDicts[idx]['values'][cell]=1

loanChunkIter = pd.read_csv("loans_2007.csv", chunksize=3000,parse_dates=dateCols)

loanChunkTypes=pd.DataFrame(columns=loanChunk.columns)

for loanChunk in loanChunkIter:
    loanChunk=removeProblematicRow(loanChunk)
    loanChunk=cleanRateCol(loanChunk)
    loanChunk=dropTitleCol(loanChunk)
    loanChunk=categorizeLoanChunk(loanChunk)
    loanChunk=convertColToInteger(loanChunk,colToInteger)
    loacnChunk=sizeIntCol(loanChunk)
    loacnChunk=sizeFloatCol(loanChunk)
   
   
    loanChunkTypes.loc[len(loanChunkTypes)]=loanChunk.dtypes
    print(loanChunk.memory_usage(deep=True).sum()/(1024*1024))
    
loanChunkTypes

0.6524324417114258
0.6490945816040039
0.6510372161865234
0.6513290405273438
0.6495151519775391
0.6511297225952148
0.649439811706543
0.6513757705688477
0.6512508392333984
0.6525535583496094
0.6515703201293945
0.6487932205200195
0.6552047729492188
0.6734914779663086
0.20389747619628906

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
1,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
2,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
3,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
4,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
5,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
6,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
7,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
8,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
9,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
10,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
11,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
12,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
13,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16
14,uint32,uint32,uint16,uint16,float16,category,float16,float16,category,category,object,category,category,float32,category,datetime64[ns],category,category,category,category,category,float16,float16,datetime64[ns],float16,float16,float16,uint32,float16,float16,category,float16,float16,float16,float16,float16,float16,float16,float16,float16,datetime64[ns],float16,datetime64[ns],float16,uint8,category,float16,float16,float16,float16,float16

## Processing Result

We have effectively reduce the memory foot print of each chunk from 4.6M to 0.6M by
- read in date column as date type using date parse capability provided by pd.read_csv() function
- convert percentage value to float by removing the % character in the CSV
- categorize string columns for columns that the no. of unique value is less than half (50%) of total record in the loan CSV
- drop the free text column title
- convert numeric column to integer and float accordingly and store them in the apporpirate format in minimun no. of bits that could whole the min/max value

## Further processing ...

In exploring the data during the exerice, the below can further be processed ...
- remove 'months' from the terms column and categorize the column as numeric instead of text column
- similary remove 'years' in column emp_length and categorize the column as numeric instead opf text column  
- remove columns that are single valued across all chunk, as single valued column cannot be analyzed